::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
 .hedr_main{
  margin-bottom: 15px;
 }
 .sidebar {
  padding-top: 15px !important;
}
.logo {
  width: inherit !important;
  text-align: center;
  padding: 0px 0px 20px;
}
.sidebar .menu li {
  padding: 10px 5px 10px 15px;
}
.sidebar .menu li .menu-icon-text{
  color: #535353;
}
div.dashboard{
  background: #E4EAFF;
  padding: 10px 15px;
}
.active{
  color: #0B97D9;
  & a{
    color: #0B97D9;
  }
}
.menu-item a.menu-link span {
  color: #14BC52 !important;
}
.menu-link,.menu-text{
  font-size: 14px;
  font-weight: 700;
}
.menu-text{
  font-weight: 500;
}
.menu .menu-icon-text{
  display: flex;
  gap: 10px;
}
.menu-icon-text svg:nth-of-type(2) {
  margin-left: auto; /* Push the second SVG to the right */
}
.submenu .submenu-item .menu-icon-text,.submenu-item .menu-text{
  color: #0B97D9 !important;  
}
.submenu-item .menu-text{
  font-size: 14px;
}
.submenu-item{
  padding: 5px 0px 5px 15px !important;
}
.submenu-item .nested-submenu-item .menu-text{
  font-size: 13px;
  /* margin-left: 20px; */
}
.nested-submenu-item{
  padding-bottom: 0 !important;
  text-align: center;
  padding-top: 0 !important;
}